<header>
  <a href="/">
    <img id="logo" src="https://i.pinimg.com/originals/bd/cd/20/bdcd20f5411ee5785889542d303ad4cb.png" alt="Logo Pokédex" />
  </a>
  <nav>
    <img src="http://pngimg.com/uploads/pokeball/pokeball_PNG11.png" alt="" height="25px" />
    <ul>
      <a href="/"> <li>Home</li></a>
      <a href="../cadastro"> <li>Cadastro</li> </a>
    </ul>
    <img src="http://pngimg.com/uploads/pokeball/pokeball_PNG11.png" alt="" height="25px" />
  </nav>
</header>
