<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico" />
    <title>Pokédex - Cadastro</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form method="post" action="/cadastro">
        <fieldset id="principal">
          <legend>Cadastre seu Pokémon</legend>
          <fieldset>
            <label for="nome">Nome</label>
            <input type="text" name="nome" required />
          </fieldset>
          <fieldset>
            <label for="tipo">Tipo</label>
            <input type="text" name="tipo" required />
          </fieldset>
          <fieldset>
            <label for="imagem">Link da imagem</label>
            <input type="url" name="imagem" required />
          </fieldset>
          <fieldset>
            <label for="descricao">Descreva seu Pokémon</label>
            <input type="text" name="descricao" required />
          </fieldset>
          <fieldset>
            <label for="altura">Altura(em metros)</label>
            <input type="number" name="altura" required />
          </fieldset>
          <fieldset>
            <label for="peso">Peso(em kg)</label>
            <input type="number" name="peso" required />
          </fieldset>
          <fieldset>
            <label for="categoria">Categoria</label>
            <input type="text" name="categoria" required />
          </fieldset>
          <fieldset>
            <label for="habilidade">Habilidade(s)</label>
            <input type="text" name="habilidade" required />
          </fieldset>
          <button type="submit">Cadastrar</button>
        </fieldset>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
