* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Pokémon";
  src: url("./fonts/Pokemon Solid.ttf");
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Pokémon";
  max-width: 100%;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  background-image: linear-gradient(#ca2f14, black, #d6d9d5);
}
header img#logo {
  height: 100%;
}
@media (max-width: 832px) {
  header img#logo {
    height: 50%;
  }
}
@media (max-width: 500px) {
  header img#logo {
    height: 30%;
  }
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
}
header a {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav li {
  font-size: x-large;
  padding-bottom: 6px;
}
header nav li:hover {
  transform: scale(1.05);
  color: #ca2f14;
}
main {
  background-image: url("https://w0.peakpx.com/wallpaper/240/955/HD-wallpaper-pokeballs-3d-3d-ball-pokeball-pokemon.jpg");
  background-size: cover;
  min-height: 70%;
}
section#cards {
  flex-wrap: wrap;
  height: 100%;
  padding: 10px;
  justify-content: space-around;
  display: flex;
}
a {
  color: black;
  text-decoration: none;
}
article#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
  border: 2px solid black;
  background-color: #d6d9d5;
  margin: 10px;
  clip-path: polygon(14% 0%, 86% 0%, 100% 14%, 100% 86%, 86% 100%, 14% 100%, 0% 86%, 0% 14%);
}
article#card:hover {
  transform: scale(1.05);
  color: #ca2f14;
}

div#card_img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #ca2f14, #d6d9d5);
  border: 2px solid black;
  height: 80%;
  width: 100%;
}
div.text_card {
  font-size: x-large;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10%;
  padding-top: 5%;
}
img#img_pokemon {
  justify-content: center;
  align-items: center;
  width: 80%;
}
footer {
  height: 10%;
  display: flex;
  justify-content: center;
  background-color: #bec1bd;
}
